$inner-court-border-radius: 284px;

.court-view-box {
  position: relative;
  max-width: var(--court-panel-box-xxl-width);
  max-height: var(--court-panel-box-xxl-height);
  cursor: crosshair;
  -webkit-box-shadow: 0px 0px 8px 1px var(--shadow-color);
  -moz-box-shadow: 0px 0px 8px 1px var(--shadow-color);
  box-shadow: 0px 0px 8px 1px var(--shadow-color);

  .full-court,
  .left-court-side,
  .right-court-side {
    filter: brightness(var(--brightness));
  }

  .left-court-side {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(calc(-50% - 1px));
    border-top-right-radius: $inner-court-border-radius;
    border-bottom-right-radius: $inner-court-border-radius;
  }

  .right-court-side {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(calc(-50% - 1px));
    border-top-left-radius: $inner-court-border-radius;
    border-bottom-left-radius: $inner-court-border-radius;
  }

  .stat-point {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: red;
  }
}
