<div class="general-box container">
  <div *ngIf="match?.teamA as teamA" class="team-box">
    <div class="team-logo-box">
      <img
        class="team-logo"
        src="https://picsum.photos/80/80"
        width="80"
        height="80"
        alt="Team {{ teamA.name }} logo"
      />
      <div class="shadow-box"></div>
    </div>
    <div class="team-name">
      <h2 class="m-0">{{ teamA.name }}</h2>
    </div>
  </div>
  <div class="score-box">
    <span class="score left">199</span>
    <span>:</span>
    <span class="score right">99</span>
  </div>
  <div *ngIf="match?.teamB as teamB" class="team-box reverse">
    <div class="team-logo-box">
      <img
        class="team-logo"
        src="https://picsum.photos/80/80"
        width="80"
        height="80"
        alt="Team {{ teamB.name }} logo"
      />
      <div class="shadow-box"></div>
    </div>

    <div class="team-name">
      <h2 class="m-0">{{ teamB.name }}</h2>
    </div>
  </div>
</div>
<div class="court-panel-box">
  <app-on-court-players [players]="teamAOnCourtPlayers"></app-on-court-players>

  <app-court-panel></app-court-panel>

  <app-on-court-players
    class="reverse"
    [players]="teamBOnCourtPlayers"
  ></app-on-court-players>
</div>
<!-- TEST -->
<div>
  @for (stat of matchProcessService.$matchStats | async; track $index) {
  <div>
    {{ stat.type }} | {{ getPlayerName(stat.playerId) }} ### relatedStats: @for
    (relatedStat of stat.relatedStats; track $index) { {{ relatedStat?.type }} |
    {{ getPlayerName(relatedStat?.playerId) }}
    }
  </div>
  }
</div>
<!--  -->
<div class="summary-table container">
  <div class="row">
    <div class="col">
      <p>TEAM A BENCH</p>
      @for (playerA of teamABenchPlayers; track $index) {
      <p>{{ playerA.name }}</p>
      }
    </div>
    <div class="col">
      <p>TEAM B BENCH</p>
      @for (playerB of teamBBenchPlayers; track $index) {
      <p>{{ playerB.name }}</p>
      }
    </div>
  </div>
</div>
