<header>
  <a [routerLink]="appRoutes.EMPTY">
    <img
      class="site-logo"
      ngSrc="assets/images/basketstats_hq.png"
      alt="basketstats-irt logo"
      width="120"
      height="120"
      priority
    />
  </a>
  <nav class="container h-100 d-flex align-items-center">
    <div class="w-50 d-flex align-items-center">
      <a
        [routerLink]="[appRoutes.MATCH, appRoutes.PREPARE]"
        class="p-button p-button-text text-decoration-none fw-bold"
        >Rozpocznij</a
      >
    </div>
    <div class="w-50 d-flex align-items-center justify-content-end">
      <app-theme-switch></app-theme-switch>
    </div>
  </nav>
</header>
