<div class="hero-container">
  <section class="first-section">
    <div>
      <p>HOMEPAGE COMING SOON...</p>
      <p>For the moment, please be content with the flipping container</p>
    </div>
    <div style="min-width: 650px">
      <span style="width: 75px"
        ><ng-container *ngIf="toogleFlipers">(┛◉Д◉)┛</ng-container></span
      >
      <img
        class="site-logo"
        ngSrc="assets/images/ball_on_line.jpg"
        alt="ball on court hero"
        width="400"
        height="198"
        priority
      />
      <span style="width: 75px"
        ><ng-container *ngIf="!toogleFlipers">╰(°□°╰)</ng-container></span
      >
    </div>
  </section>
</div>
