.left-bg,
.right-bg {
  position: absolute;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  z-index: -1;
}

.left-bg {
  left: 0;
  // background-image: url("assets/images/background-ltr.png");
}

.right-bg {
  right: 0;
  // background-image: url("assets/images/background-rtl.png");
}

main {
  margin-top: 25px;
}
