<div class="operations-box" id="operationsContainer">
  <div class="operations-background"></div>
  @for (operation of operations; let index = $index; track index) {
  <div class="{{ operation.customClass }}">
    <p-button
      class="position-absolute"
      [ngStyle]="{ 'left.px': buttonsX[index], 'top.px': buttonsY[index] }"
      icon="pi {{ operation.icon }}"
      [rounded]="true"
      severity="secondary"
      [pTooltip]="operation.tooltipMessage"
      tooltipPosition="top"
      (mouseup)="operation.operation()"
    ></p-button>
  </div>
  }
</div>
