.actions-box {
  position: relative;
  z-index: 1001;
  transform: translate(-5px, -5px);
  // pointer-events: none;
}

.button-wrapper {
  transform: translate(-50%, -50%);
}

.dial-button {
  position: absolute;
  height: 51px;
  width: 51px;
  border-radius: 50%;
  border: none;
  background-color: #838383;
  color: #f9f9f9;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(99, 99, 99, 1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(99, 99, 99, 1);
  box-shadow: 0px 0px 0px 1px rgba(99, 99, 99, 1);
  transition: transform 400ms;
  // pointer-events: all;
}

.dial-button:hover {
  background-color: #999999;
  transform: scale(0.9);
}

.actions-background {
  width: 224px;
  height: 224px;
  transform: translate(-50%, -50%);
  border: 63px solid #e0e2db75;
  border-radius: 50%;
}

.actions-background.double-layer {
  -webkit-box-shadow: 0px 0px 0px 60px #c5c7c075;
  -moz-box-shadow: 0px 0px 0px 60px #c5c7c075;
  box-shadow: 0px 0px 0px 60px #c5c7c075;
}
