<div [hidden]="!show || exceededNumberOfButtons">
  <div #actionsContainer class="actions-box" id="actionsContainer">
    @for (action of dialActions; let index = $index; track index) {
    <div class="button-wrapper">
      <button
        class="round-button dial-button"
        [ngStyle]="{
          'left.px': buttonsX[index],
          'top.px': buttonsY[index]
        }"
        [ngClass]="action.customClass"
        (mouseup)="$event.stopPropagation(); action.action()"
      >
        <i class="pi" [ngClass]="action.icon"></i>
      </button>
    </div>
    }
  </div>
  <div
    class="actions-background"
    [ngClass]="{
      'double-layer': dialActions.length > FIRST_LAYER_MAX_NUMBER_OF_BUTTONS
    }"
  ></div>
</div>
