<div class="court-players-box">
  @for (player of players; let index = $index; track index) {
  <div
    class="{{ index < 5 ? 'court-player' : 'court-player bench-player' }}"
    [ngClass]="{
      selection: needPlayerSelection && !selectedPlayerId,
      'selection-animation': player.id === selectedPlayerId
    }"
    (click)="selectPlayer($event, player)"
  >
    <div class="player-avatar">
      <div class="shadow-box"></div>
      <img
        src="https://picsum.photos/55/55"
        width="55"
        height="55"
        alt="Player {{ player.id }} avatar"
      />
    </div>

    <div class="player-general">
      <div class="shadow-box"></div>
      <div class="player-name-box">
        <div class="player-name">#{{ index + 1 }} | {{ player.name }}</div>
        <div class="fouls">
          @for (i of 'iiiii'; let index = $index; track index) {
          <div class="foul {{ index < 3 ? 'fill' : 'empty' }}"></div>
          }
        </div>
      </div>
      <div
        class="player-stat-buttons"
        [ngClass]="{ disabled: needPlayerSelection }"
      >
        @for (playerStatType of playerStatTypes; track $index) {
        <button
          class="round-button stat-button"
          (click)="
            addPlayerStat(player, playerStatType); $event.stopPropagation()
          "
        >
          <p>
            @switch (playerStatType) { @case (NonShootingAction.STL) { ST }
            @case (NonShootingAction.OREB) { OR } @case (NonShootingAction.DREB)
            { DR } @case (NonShootingAction.TO) { TO } @case
            (NonShootingAction.PF) { PF } }
          </p>
        </button>
        }
      </div>
      <!-- <app-operation-dial [operations]="operations"></app-operation-dial> -->
    </div>
  </div>
  }
</div>
