$font-stack: 'Nunito', sans-serif;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$basketstats-typography: mat.define-typography-config($font-family: "Nunito, sans-serif");

$basketstats-primary-palette: (
  50: #FFC0AD,
  100: #FFB199,
  200: #FFA185,
  300: #FF9270,
  400: #FF825C,
  500: #FF7043, 
  600: #FF6333,
  700: #FF531F,
  800: #FF430A,
  900: #F53900,
  contrast: (
  50: #000,
  100: #000,
  200: #000,
  300: #000,
  400: #000,
  500: #000,
  600: #000,
  700: #000,
  800: #000,
  900: #000,
  )
);

$basketstats-irt-primary: mat.define-palette($basketstats-primary-palette);
$basketstats-irt-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$basketstats-irt-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$basketstats-irt-theme: mat.define-light-theme((
  color: (
    primary: $basketstats-irt-primary,
    accent: $basketstats-irt-accent,
    warn: $basketstats-irt-warn,
  ),
  typography: $basketstats-typography
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($basketstats-irt-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: $font-stack; 
  // background-image: url("/assets/images/background-pattern2.png");

}
