.team-reorder-box {
  min-width: 320px;
  position: relative;
  padding-top: 20px;

  .starting-five {
    position: absolute;
    left: -10px;
    top: 10px;
    width: calc(100% + 20px);
    height: 315px;
    border: 2px solid;
    border-radius: 15px;
    z-index: -1;

    span {
      position: absolute;
      top: -16px;
      left: 12px;
      background: var(--input-background);
      padding: 0 3px;
    }
  }
}

.player-list {
  width: 300px;
  max-width: 100%;
  display: block;
  background: #ffffff00;
  border-radius: 6px;
}

.player-box {
  padding: 15px 10px;
  border: solid 1px var(--input-border-color);
  background-color: var(--input-background);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: move;
  font-size: 14px;
  border-radius: 10px;
  margin-bottom: 10px;
}
